{% extends "base.html" %}

{% block content %}
  <!--Main layout-->
  <main>
    <div class="container">
        <h2>Order Summary</h2>
        <table class="table">
            <thead class="black white-text">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Price</th>
              </tr>
            </thead>
            <tbody>
            {% for order in object.items.all %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ order.item.title }}</td>
                <td>{{ order.item.price }}</td>
                <td>
                    <a href="{% url 'core:remove-single-item-from-cart' order.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                    {{ order.quantity }}
                    <a href="{% url 'core:add-to-cart' order.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
                </td>
                <td>
                    {% if order.item.discount_price %}
                        ${{ order.get_total_discount_price }}
                        <span class="badge badge-primary"> Saving ${{ order.get_amount_saved }}</span>
                    {% else %}
                        ${{ order.get_total_item_price }}
                    {% endif %}
                    <a href={% url 'core:remove-from-cart' order.item.slug %}><i class="fas fa-trash float-right" style="color:red"></i></a>
                </td>
              </tr>
            {% empty %}
            <tr>
                <td colspan="5">Your cart is empty</td>
            </tr>
            <tr>
                <td colspan="5">
                    <a class="btn btn-warning float-right" href="/">Continue Shopping</a>
                </td>
            </tr>
            {% endfor %}

            {% if object.coupon %}
            <tr>
              <td style="background-color:rgb(55, 142, 140)" class="text-center" colspan="4"><b>Coupon</b></td>
              <td style="background-color:rgb(55, 142, 140)"><b>-${{ object.coupon.amount }}</b></td>
            </tr>
              {% if object.coupon_get_total %}
              <tr>
                  <td style="background-color:rgb(255, 142, 140)" class="text-center" colspan="4"><b>Order Total</b></td>
                  <td style="background-color:rgb(255, 142, 140)"><b>${{ object.coupon_get_total }}</b></td>
              </tr>
              <tr>
                  <td colspan="5">
                      <a class="btn btn-primary float-right ml-4" href="/checkout/"> Proceed to Checkout</a>
                      <a class="btn btn-warning float-right" href="/">Continue Shopping</a>
                  </td>
              </tr>
              {% endif %}
            {% elif object.get_total %}
            <tr>
                <td style="background-color:rgb(255, 142, 140)" class="text-center" colspan="4"><b>Order Total</b></td>
                <td style="background-color:rgb(255, 142, 140)"><b>${{ object.get_total }}</b></td>
            </tr>
            <tr>
                <td colspan="5">
                    <a class="btn btn-primary float-right ml-4" href="/checkout/"> Proceed to Checkout</a>
                    <a class="btn btn-warning float-right" href="/">Continue Shopping</a>
                </td>
            </tr>
            {% endif %}
      
            </tbody>
          </table>
    </div>
  </main>
  <!--Main layout-->

{% endblock %}